& {
  min-width: 15em;
  max-width: 20em;
  font-size: 1.1em;
  background: $off-white;
}

.listRow {
  cursor: pointer;
  width: 12em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
