& {
  min-width: 15em;
  padding: 1em;
  font-size: 1.1em;
  background: $light-grey;
}

.listRow {
  cursor: pointer;
  width: 12em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
