<div class="row stretch route-plans-container">
  {{sections/distribution/open-route-visits
      model=orphanRouteVisits
      registerDropContainer=(action 'registerDropContainer')}}

  {{#if (eq routePlans.length 0)}}
    <div class="empty col-5 center">
      DRAG HERE TO CREATE ROUTE
    </div>
  {{/if}}

  {{#each routePlans as |routePlan index|}}
    {{sections/distribution/route-plan
        index=index
        model=routePlan
        users=users
        saveRoutePlanBlueprint=(action 'startSaveRoutePlanBlueprint')
        updateRoutePlan=updateRoutePlan
        destroyRoutePlan=destroyRoutePlan
        removeRouteVisit=removeRouteVisit
        registerDropContainer=(action 'registerDropContainer')
        registerRoutePlan=(action 'registerRoutePlan')}}
  {{/each}}
</div>

{{#if showSaveRoutePlanBlueprintModal}}
  {{#tether-dialog close='cancelSaveRoutePlanBlueprint'
      hasOverlay=false
      attachment='top left'
      targetAttachment='middle right'
      target=saveRoutePlanBlueprintOptions.trigger}}
    {{ui/input-action-bar submit=(action 'submitTemplateName') autoFocus=true}}
    <button {{action 'cancelSaveRoutePlanBlueprint'}}>Close</button>
  {{/tether-dialog}}
{{/if}}
