<div class="row stretch">
  {{sections/distribution/open-orders
      model=orphanedRouteVisits
      registerDropContainer=(action 'registerDropContainer')}}

  {{#each activeRoutePlans as |routePlan index|}}
    {{sections/distribution/route-plan
        index=index
        model=routePlan
        users=users
        saveRoutePlanBlueprint=(action 'startSaveRoutePlanBlueprint')
        updateRoutePlan=updateRoutePlan
        destroyRoutePlan=destroyRoutePlan
        removeRouteVisit=removeRouteVisit
        registerDropContainer=(action 'registerDropContainer')
        registerRoutePlan=(action 'registerRoutePlan')}}
  {{/each}}
</div>

{{#if showSaveRoutePlanBlueprintModal}}
  {{#tether-dialog close='cancelSaveRoutePlanBlueprint'
      hasOverlay=false
      attachment='top left'
      targetAttachment='middle right'
      target=saveRoutePlanBlueprintOptions.trigger}}
    {{ui/input-action-bar submit=(action 'submitTemplateName') autoFocus=true}}
    <button {{action 'cancelSaveRoutePlanBlueprint'}}>Close</button>
  {{/tether-dialog}}
{{/if}}
