<div class="row stretch route-plans-container">
  {{sections/distribution/open-route-visits
      model=orphanRouteVisits
      selectedRouteVisit=selectedRouteVisit
      selectRouteVisit=selectRouteVisit
      registerDropContainer=(action "registerDropContainer")}}

  {{#each routePlans as |routePlan index|}}
    {{sections/distribution/route-plan
        index=index
        model=routePlan
        selectedRouteVisit=selectedRouteVisit
        users=users
        saveRoutePlanBlueprint=(action "startSaveRoutePlanBlueprint")
        updateRoutePlan=updateRoutePlan
        destroyRoutePlan=destroyRoutePlan
        removeRouteVisit=removeRouteVisit
        registerDropContainer=(action "registerDropContainer")
        registerRoutePlan=(action "registerRoutePlan")
        selectRouteVisit=selectRouteVisit}}
  {{/each}}
</div>

{{#if showSaveRoutePlanBlueprintModal}}
  {{#tether-dialog}}
    {{modals/save-template
        users=users
        changeset=(changeset stashedSaveAsTemplateData validators)
        cancel=(action "cancelSaveRoutePlanBlueprint")
        submit=(action "submitTemplateName")}}
  {{/tether-dialog}}
{{/if}}
