& {
  // padding: 1em;
  background: $medium-grey;
  min-width: 35em;
  max-width: 35em;
}

a {
  text-decoration: underline;
}

.toolbar {
  justify-content: flex-end;
}

.contentContainer {
  padding: 1em;
}

.syncedMessage {
  background: $dark-grey;
  padding: 0.5em;
  color: $off-white;

  a {
    color: $off-white;
  }
}

.syncedTitle {
  margin-right: 0.5em;
}

.company {
  font-size: 1.7em;
  font-weight: bold;
  color: $dark-grey;
}

.locationInfo {
  font-size: 1.2em;
  color: $dark-grey;
}

.orderInfo {
  align-items: baseline;
  margin: 1.5em 0 1em 0;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  color: $dark-grey;
  padding-right: 1em;
  &::after {
    content: ':';
    font-weight: normal;
  }
}

.orderNumber {
  font-size: 1.2em;
  color: $dark-grey;
}

.addOrderItemContainer {
  border-top: 1px solid $light-grey;
  padding-top: 2em;
  margin-top: 2em;

  .search {
    max-width: 15em;
  }
}

.block {
  background-color: $off-white;
  margin: 2em;
  padding: 2em;

  & + .block {
    margin-top: 0;
  }

  .dots {
    flex: 1;
    // border-bottom: 1px dotted black;
    margin: 0 2em;
  }

  .group {
    height: 2em;
    align-items: flex-end;
  }

  .content {
    width: 15em;
  }

  .title {
    font-size: 1.5em;
  }

  .shippingContainer {
    height: 2em;
  }

  .value {
    font-size: 1.2em;
    font-weight: 600;

  }
}

.deliveryDateContainer{
  margin-top: 1em;

  .deliveryDate {
    width: inherit;
    margin-left: 1em;

    font-size: 1.3em;
    padding: 0.3em;
    background: rgba( $off-white, 1 );
    color: $dark-grey;
    border: 3px solid rgba( #4C4C4C, 0.6 );
  }
}
