& {
  padding: 1em;
  background: $medium-grey;
  min-width: 35em;
  max-width: 35em;
}

a {
  text-decoration: underline;
}

.toolbar {
  justify-content: flex-end;
}

.company {
  font-size: 1.7em;
  font-weight: bold;
  color: $dark-grey;
}

.locationInfo {
  font-size: 1.2em;
  color: $dark-grey;
}

.orderInfo {
  align-items: baseline;
  margin: 2em 0 1em 0;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  color: $dark-grey;
  padding-right: 1em;
  &::after {
    content: ':';
    font-weight: normal;
  }
}

.orderNumber {
  font-size: 1.2em;
  color: $dark-grey;
}

.addOrderItemContainer {
  border-top: 1px solid $light-grey;
  padding-top: 2em;
  margin-top: 2em;

  .search {
    max-width: 15em;
  }
}

.block {
  background-color: $off-white;
  margin: 2em;
  padding: 2em;

  & + .block {
    margin-top: 0;
  }

  .dots {
    flex: 1;
    // border-bottom: 1px dotted black;
    margin: 0 2em;
  }

  .group {
    height: 2em;
    align-items: flex-end;
  }

  .content {
    width: 15em;
  }

  .title {
    font-size: 1.5em;
  }

  .quantity {

  }

  .price {

  }

  .shippingContainer {
    height: 2em;
  }

  .value {
    font-size: 1.2em;
    font-weight: 600;

  }
}
