<div class="col section">
  <div class="row card-1 section">
    {{sections/companies/company-settings
        model=model
        priceTiers=priceTiers
        updatePriceTier=(route-action "updatePriceTier")
        save=(route-action "saveCompany")}}

    {{sections/companies/location-manager
        locations=model.activeLocations
        showLocation=(route-action "showLocation")
        createNewLocation=(route-action "createNewLocation")}}

    <div class="col settingMenu">
      {{#ui/popup-menu icon='menu'}}
        {{ui/icon-button
            class="archive"
            type="delete"
            label="Archive"
            size="1"
            color=white
            flat=true
            backgroundColor=colors.SKY_BLUE
            action=(route-action "archiveCompany" model)}}
      {{/ui/popup-menu}}
    </div>
  </div>
  <div class="section">
    {{outlet}}
  </div>
</div>
