{{ui/order-editor
    model=model
    items=filteredItems
    updateShipping=(route-action "updateShipping")
    saveOrder=(route-action "saveOrder")
    createOrderItem=(route-action "createOrderItem")
    updateOrderItem=(route-action "updateOrderItem")
    saveOrderItem=(route-action "saveOrderItem")
    deleteOrderItem=(route-action "deleteOrderItem")
    onOrderItemChange=(action "onOrderItemChange")
    createNewItem=(route-action "createNewItem")
    emailOrder=(route-action "emailOrder" model)
    deleteOrder=(route-action "deleteOrder" model)
    toggleOrderState=(route-action "toggleOrderState" model)
    updateDeliveryDate=(route-action "updateDeliveryDate" model)}}

    {{#sticky-container}}
      <div class="row top wrap">
        {{sections/locations/location-note
          locationNote=model.location.note
          save=(route-action "saveLocationNote" model.location)}}
      </div>
    {{/sticky-container}}
