<div class="row dayPickerContainer">
  <span class="">Delivery Schedule</span>
  {{ui/check-box-group
    labels=daysOfWeek
    selectedIndexes=selectedDays
    onUpdate=updateVisitSchedule}}

  {{ui/icon-button
    icon='add'
    flat=true
    color=colors.DARK_GREY
    padding=0.5
    onClick=createVisitWindow}}
</div>
