& {
  background: $dark-grey;
  color: white;
  padding: 0.5em;
}

.quote {
  color: #7b7b7b;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-right: 1em;
  // max-width: 50em;
}

.author {
  color: #7b7b7b;
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.5em;
}
