.maxHeight {
  min-height: 100vh;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollContentY {
  height: 100%;
  overflow-y: auto;
}

.stretch {
  flex: 1;
}
