.maxHeight {
  min-height: 100vh;
}

.section {
  padding: 0.5em;
  margin: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-2 {
  @extend .col;
  flex: 2;
}

.col-3 {
  @extend .col;
  flex: 3;
}

.col-4 {
  @extend .col;
  flex: 4;
}

.col-5 {
  @extend .col;
  flex: 5;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.relative {
  position: relative;
}

.absFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollContentY {
  height: 100%;
  overflow-y: auto;
}

.stretch {
  flex: 1;
}
