.maxHeight {
  min-height: 100vh;
}

.section {
  padding: 0.5em;
  margin: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-1 {
  @extend .col;
  flex: 1;
}

.col-2 {
  @extend .col;
  flex: 2;
}

.col-3 {
  @extend .col;
  flex: 3;
}

.col-4 {
  @extend .col;
  flex: 4;
}

.col-5 {
  @extend .col;
  flex: 5;
}

.col-6 {
  @extend .col;
  flex: 6;
}

.col-7 {
  @extend .col;
  flex: 7;
}

.col-8 {
  @extend .col;
  flex: 8;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.left {
  justify-content: flex-start;
}

.top {
  align-items: flex-start;
  align-content: flex-start;
}

.bottom {
  align-items: flex-end;
  align-content: flex-end;
}

.right {
  justify-content: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absFill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrollContentY {
  height: 100%;
  overflow-y: auto;
}

.stretch {
  flex: 1;
}

.hidden {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
