&{
  padding: 0.3em 0.3em 0;

  .drivers{
    font-size: 1.1em;
    justify-content: space-between;
    padding: 0.3em 0 0.2em;
    text-transform: uppercase;
  }

  .material-icons{
    font-size: 16px;
  }

  .ember-power-select-trigger{
    background-color: initial;
    border: none;

    &:focus{
      border: none;
    }

    .ember-power-select-selected-item, .ember-power-select-placeholder{
      text-decoration: underline;
      display: inline;
      color: #333;
    }

    .ember-power-select-status-icon{
      right: auto;
      margin-left: 0.3em;
      border-color: #333 transparent transparent transparent;
    }
  }
}

//
// .selectize-input {
//   padding: 0;
//   min-width: 12em;
//   background: none;
//   border: none;
//   box-shadow: none;
//
//   &.input-active {
//     background: none;
//   }
//
//   &:after, &.dropdown-active:after, {
//     content: none;
//   }
//
//   input, .item {
//     font-size: 1.2rem;
//     padding: 0 0 0.5em 0.2em;
//   }
// }
