& {
  background: $light-blue;
  justify-content: space-between;
  font-size: 0.9em;
}

.header {
  background: $dark-grey;
  padding: 1em;
  color: $off-white;
}

.desiredToggle {
  background: $hot-pink;
}

.desiredToggle.selected {
  background: $dark-orange;
}
