<div class="row header">
  Product Setting
</div>

{{#each itemSettings as |itemSetting i|}}
  {{sections/locations/item-setting
      index=i
      onCreditChange=onCreditChange
      onDesireChange=onDesireChange
      model=itemSetting}}
{{/each}}
