<div class="row headerContainer">
  {{#power-select
      selected=model.user
      options=users
      placeholder="Select a driver"
      searchEnabled=false
      onchange=(action (mut model.user))
      as |user|}}
    {{user.name}}
  {{/power-select}}

  <div class="col uiContainer">
    {{ui/icon-button
      class='delete'
      type='clear'
      flat=true
      color=colors.DARK_GREY
      padding=0.5
      click=(action 'delete')}}

    {{ui/icon-button
      type='save'
      class='saveTemplate'
      flat=true
      color=colors.DARK_GREY
      padding=0.5
      click=(action 'saveTemplate')}}

  </div>
</div>

{{#layouts/scroll-container}}
  {{#layouts/dd-container registerContainer=registerDropContainer registerId=(action registerRoutePlan model)}}
    {{#each model.sortedRouteVisits as |rv|}}
      {{sections/distribution/route-visit
        colorScheme=model.colorScheme
        model=rv
        deleteRouteVisit=(action deleteRouteVisit model)
        data-location-hash=rv.locationHash}}
    {{/each}}
  {{/layouts/dd-container}}
{{/layouts/scroll-container}}
