---
language: node_js
node_js:
  - "6"

sudo: false

cache:
  directories:
    - node_modules
    - bower_components

before_install:
  - npm config set spin false
  - npm install -g bower
  - npm install phantomjs-prebuilt

install:
  - npm install
  - bower install
  - npm install -g firebase-tools
  - npm install -g ember-cli

script:
  - ember test

after_success:
  if [ "${TRAVIS_BRANCH}" == "development" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    ember build --environment production && firebase deploy --token ${FIREBASE_TOKEN};
  fi
