& {
  justify-content: space-between;
  align-items: center;
  background: $sky-blue;
  color: white;
  padding: 0 1em;
  font-size: 0.9em;
  a {
    text-decoration: none;
    color: white;
  }
}

.homeLink {
  margin-right: 2em;
}

.user {
  align-items: baseline;
}

.name {
  font-size: 0.8em;
  border-right: 1px solid white;
  margin-right: 1em;
  padding-right: 1em;
}

.buttonContent {
  align-items: center;
}
.navLinksContainer {

  .ui_icon-button {
    justify-content: flex-start;
    &:hover{
      background-color: $baby-blue;
      .label {
        color: $dark-grey;
      }
    }
    &.active{
      background-color: $hot-pink;
      .label {
        color: $off-white;
      }
    }
  }
}

.name {
  font-size: 0.8em;
}

.pipe {
  margin: 0 1em;
  font-size: 0.5em;
}

.homeLink {
  font-size: 1.4em;
}
