<span class="row contentContainer">
  {{#if hasIndex}}
    <span class="index">
      {{indexFormatted}}.
    </span>
  {{/if}}
  <span class="title">
    {{title}}
  </span>
</span>
{{#if hasAction}}
  {{ui/icon-button
    flat=true
    padding=0.5
    color=colors.DARK_GREY
    type='clear'
    click=attrs.action}}
{{/if}}
