& {
  min-width: 14em;
  max-width: 14em;
  background: $off-white;
}

.openOrdersHeader {
  align-items: flex-end;
  padding: 0.6em;
  background: $light-orange;
  text-transform: uppercase;

  .title {
    font-size: 1.1em;
  }
}
