<div class="col-1 no">No.</div>
<div class="col-2">First Name</div>
<div class="col-2">Last Name</div>
<div class="col-2">Email</div>
<div class="col-1">Password</div>
<div class="col-1">Role</div>
<div class="col-1">Phone</div>
<div class="empty-padding"></div>
