& {
  padding: 0.5em;
  align-items: baseline;
  &:nth-child(even) {
    background: $off-white;
  }
}

&.highlighted {
  background: #C9C9C9;
}

.name {
  margin-left: 1em;
  min-width: 16em;
}

.unitPriceContainer {
  justify-content: flex-end;
  width: 5em;
  margin-right: 3em;
}

.quantity {
  width: 2em;
  font-size: 1.3em;
  padding: 0.3em;
  background: rgba( $off-white, 1 );
  color: $dark-grey;
  border: 3px solid rgba( #4C4C4C, 0.6 );
  text-align: right;
}

.delete {
  margin-left: 2em;
}
