& {
  // cursor: pointer;
  // padding: 0.5em;
  // margin: 0.5em;
  // width: 40%;
}

// .ui_day-of-week-selector .ui_label-checkbox {
//   padding: 0.5em;
//   margin: 0.5em;
//
//   .enabled {
//     background: $light-blue;
//   }
// }

.deliverySchedule {

  background: $light-green;
  justify-content: space-between;
  margin-bottom: 1em;

  .infoContainer {
    align-items: baseline;
    background: $dark-orange;
  }

  .header {
    font-weight: 600;
    font-size: 1em;
    padding: 1em
  }

  .description {
    font-size: 0.8em;
    font-style: italic;
  }

  .content {
    padding: 1em;
    justify-content: space-between;
  }

  .visitDays {
    margin-right: 1em;
  }
}

// .createVisitWindow {
//   margin-top: 1em;
//   margin-bottom: 1em;
// }
//
// &.enabled {
//   background: $light-blue;
// }
//
// @media (min-width: 700px) { & { width: 50%; } }
// @media (min-width: 800px) { & { width: 40%; } }
// @media (min-width: 900px) { & { width: 30%; } }
// @media (min-width: 1000px) { & { width: 20%; } }
// @media (min-width: 1500px) { & { width: 10%; } }
