
  <div class="row">
    {{ui/date-picker
      date=deliveryDate
      onSelected=dateSelected
      format='MM-DD-YYYY'}}
  </div>

  <div class="row">
    {{ui/filter-bar
        placeholder='Search...'
        onChange=(action 'filterOrders')}}

    {{#ui/popup-menu}}
      {{ui/icon-button
        class='stubOrders'
        flat=true
        color=colors.DARK_GREY
        label='Stub Orders'
        type='add'
        click=stubOrders}}
    {{/ui/popup-menu}}
  </div>

  {{lists/grouped-list
      highlightedItem=currentSelectedOrder
      itemClicked=(route-action 'showSalesOrder')
      model=groupedSalesOrders}}
