& {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(white, 0.5);
  min-height: 1.9em;
}

.contentContainer {
  align-items: baseline;
  margin-left: 0.3em;
}

.index {
  font-style: italic;
  font-size: 0.8em;
}

.title {
  margin-left: 0.5em;
  font-size: 1.0em;
  font-weight: 600;
  color: $dark-grey;
  cursor:default;
}
