& {
  padding: 1em;
  align-items: center;
}

&:nth-of-type(odd) {
  background: $off-white;
}

.uiContainer {
  width: 2em;
}

.codeContainer {
  font-size: 0.8em;
  font-style: italic;
}

.companyContainer {
  font-size: 0.8em;
  font-style: italic;
}

.nameContainer {
  font-weight: 600;
}

.descriptionContainer {
  font-style: italic;
  font-weight: 400;
}
