& {
  padding: 0.5em;
  align-items: center;
  &>div {
    padding-right: 0.5em;
  }
}

&:nth-of-type(odd) {
  background: $off-white;
}

.uiContainer {
  width: 2em;
}

.codeContainer {
  font-size: 0.8em;
  font-style: italic;
  input {
    text-transform: uppercase;
  }
}

.companyContainer {
  font-size: 0.8em;
  font-style: italic;
}

.nameContainer {
  font-weight: 600;
}

.descriptionContainer {
  font-style: italic;
  font-weight: 400;
}
