& {
  padding: 1em;
  align-items: center;
}

&:nth-of-type(odd) {
  background: $off-white;
}

.uiContainer {
  width: 2em;
}

.codeContainer {
  font-size: 0.8em;
  font-style: italic;
  input {
    width: 4em;
  }
}

.companyContainer {
  font-size: 0.8em;
  font-style: italic;
}

.nameContainer {
  font-weight: 600;
  input {
    width: 10em;
  }
}

.descriptionContainer {
  font-style: italic;
  font-weight: 400;
  input {
    width: 15em;
  }
}

.priceContainer {
  input {
    width: 5em;
  }
}
