.outerContainer {
  justify-content: center;
}

.appContainer {
  //margin-bottom: 1em;
  // margin: 1em;
}

// @media (min-width: 640px) { .appContainer { max-width: 90%; } }
// @media (min-width: 700px) { .appContainer { max-width: 80%; } }
// @media (min-width: 800px) { .appContainer { max-width: 70%; } }
// @media (min-width: 900px) { .appContainer { max-width: 60%; } }
// @media (min-width: 1200px) { .appContainer { max-width: 50%; } }
// @media (min-width: 1500px) { .appContainer { max-width: 40%; } }
