& {
  flex: 1;
  // background-color: $light-grey;
  // padding: 1em;
}

.header {
  margin: 1em 0;
  padding: 0.5em;
}

.clientCodeLabel {
  font-size: 1.3em;
}

.clientCommonNameLabel {
  font-size: 1.1em;
}

.salesOrderId {
  font-size: 1em;
}
