<span class="title">
  Notifications
</span>
{{#each notifications as |notification|}}
  <div class="row notificationRow">
    <div class="col-2 id">
      {{notification.id}}
    </div>
    <div class="col-5 notificationState">
      {{notification.notificationState}}
    </div>
  </div>
{{/each}}
