& {
  min-width: 15em;
  padding: 1em;
  font-size: 1.1em;
}

.group {
  margin-bottom: 0.4em;
  // flex: 1;
  // border: 1px solid red;
}

.parent {
  font-size: 1em;
}

.child {
  padding-left: 1em;
  font-size: 0.9em;
  // min-height: 3em;
}

a {
  cursor: pointer;
  color: $dark-grey;
}

.highlighted {
  background: $medium-grey;
}
