{{#layouts/scroll-container}}
  <div class="col">
  {{#each-in model as |key group|}}
      <span class="parent">{{key}}</span>
      {{#each group as |item|}}
        <a class="child {{if (eq highlightedItem item) 'highlighted'}}" {{action itemClicked item}}>{{item.location.name}}</a>
      {{/each}}
  {{/each-in}}
</div>
{{/layouts/scroll-container}}
