& {
  justify-content: space-between;
  align-items: center;
  min-height: 1.9em;
  background-color: rgba(white, 0.3);
}

.title, .index{
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  color: $dark-grey;
  cursor:default;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11.5em;

  subtitle{
    font-weight: normal;
    font-size: 0.8em;
    text-transform: none;
  }
}
