<span class="title">
  {{indexFormatted}}. {{title}} - <subtitle>{{subTitle}}</subtitle>
</span>
{{#if hasAction}}
  {{ui/icon-button
    class="col-1 action"
    flat=true
    padding=0.5
    color=colors.DARK_GREY
    type=actionIcon
    click=action}}
{{/if}}
