<span class="row contentContainer">
  {{#if hasIndex}}
    <span class="index">
      {{indexFormatted}}.
    </span>
  {{/if}}
  <div class="title">
    {{title}} -
  </div>
  <span class="subTitle">
    {{subTitle}}
  </span>
  {{#if hasAction}}
    {{ui/icon-button
      class='action'
      flat=true
      padding=0.5
      color=colors.DARK_GREY
      type=actionIcon
      click=action}}
  {{/if}}
</span>
