<span class="row contentContainer">
  {{#if hasIndex}}
    <span class="index">
      {{indexFormatted}}.
    </span>
  {{/if}}
  <div class="title">
    {{title}} -
  </div>
  <span class="subTitle">
    {{subTitle}}
  </span>
</span>
