& {
  cursor: pointer;
  margin: 0.5em 0.5em;
  font-size: 0.8em;
}

.company {
 font-size: 0.9em;
}

.nickname {
  font-size: 0.9em;
}

.visitWindow {
  font-weight: 600;
}

.estimatedArrival {
  font-style: italic;
}

&.selected {
  @extend .card-3;
}
