{{#ui/dd-card
  title=title
  index=index
  action=(if (not model.isOrphan) (action 'removeRouteVisit'))
  actionIcon='clear'
  backgroundColor=backgroundColor}}

  <div style={{textStyles}} class="col">
    <span class="street">
      {{model.address.street}}
    </span>

    <span class="city">
      {{model.address.city}}
    </span>
  </div>
{{/ui/dd-card}}
