{{#ui/dd-card
  title=model.id
  index=index
  action=(action deleteRouteVisit model)
  actionIcon='clear'
  backgroundColor=colorScheme.backgroundColor}}

  <span style={{textStyles}} class="company">
    {{model.address.full}}
  </span>
{{/ui/dd-card}}
