& {
  padding: 1em;
}

.filterTermInput {
  width: 50%;
  margin-bottom: 1em;
  border: 4px solid rgba($sky-blue, 0.5);
  font-size: 1.3em;
  padding: 0.5em;
}

.showInactiveCheckbox {
  margin-bottom: 1em;
}
