& {
  // min-width: 12em;
  min-height: 20em;
  margin-top: 1em;
  max-height: 30em;
}

.content {
  // padding: 1em;
}

.leaflet-container {
  display: flex;
  flex: 1;
  text-transform: capitalize;
}

.addressSearch {
  margin-bottom: 1em;
}

.fullAddress {
  background: $dark-grey;
  color: $off-white;
  padding: 1em;
}

.addressSelect {
  margin-top: 1em;
  width: 100%;
}
