& {
  max-width: 20em;
  background: $off-white;
}

.filterBar{
  background-color: $dark-grey;
  color: $off-white;
}

.filterOptionsContainer {
  align-items: center;
  padding-left: 0.5em;
  .option {
    background-color: $dark-grey;
    color: $off-white;
    .content {
      opacity: 0.5;
    }
  }

  .option.selected {
    .content {
      opacity: 1;
    }
  }
}
