.ui_label-checkbox {
  margin-right: 0.25em;
  padding: 0.5em;
  // margin: 0.5em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $dark-grey;
  background: $light-blue;

  &.enabled {
    background: $dark-orange;
  }

  .label {
    text-transform: uppercase;
  }
}

.ui_label-checkbox:last-child {
  margin-right: 0;
}
