{{#ui/dd-card
  title=code
  index=index
  action=(action 'resetDrop')
  actionIcon='clear'
  backgroundColor=colorScheme.backgroundColor}}

  <span style={{textStyles}} class="company">
    {{company}}
  </span>

  <span style={{textStyles}} class="nickname">
    {{nickname}}
  </span>
{{/ui/dd-card}}
