& {
  background: $dark-orange;
  max-width: 10em;
  min-width: 5em;
  padding: 1em;
  // margin: 0.5em;
  margin: 0.5em;
  // margin-bottom: 0.5em;
  // justify-content: space-between;
  cursor: pointer;
}

.id {
  font-size: 0.8em;
}

.name {
  font-size: 0.6em;
}
