<span class="col content">
  {{content}}
</span>
<div class="col-5">
  <div class="row right">
    {{#each infoIcons as |infoIcon|}}
      <i class="material-icons">{{infoIcon}}</i>
    {{/each}}
  </div>
</div>
