& {

}

.leaflet-container {
  display: flex;
  flex: 1;
}

.takenLocations {
  background: red;
}

.openLocations {
  background: blue;
}

.company {
  font-weight: bold;
  font-size: 1.3em
}

.street {
  font-size: 1.1em
}

.addressSecond {

}
