<span class="row openOrdersHeader">
  <span class="title">
    Open Orders
  </span>
</span>
{{#layouts/scroll-container}}
  {{#layouts/dd-container registerContainer=registerDropContainer}}
    {{#each-in orderGroups as |key og|}}
      {{sections/distribution/order-group
        data-location-hash=key
        model=og}}
    {{/each-in}}
  {{/layouts/dd-container}}
{{/layouts/scroll-container}}
