{{#layout/scroll-container}}
  <div class="col">
    {{#each model as |item|}}
      <a href="#" class="name" {{action itemClicked item.id}}>{{item.text}}</a>
    {{/each}}
  </div>
{{/layout/scroll-container}}
