{{pikaday-input
    class='datePicker'
    value=formattedDate
    onSelected=onDateSelected
    format='dddd - MM/DD/YY'}}

<div class="row uiContainer">
  {{ember-selectize
    class='templateSelect'
    content=routeTemplates
    optionValuePath="content"
    optionLabelPath="content.name"
    select-item=this.attrs.applyTemplate
    placeholder="Apply a template" }}

  {{ui/icon-button
    type='save'
    size=1.5
    flat=true
    backgroundColor=colors.LIGHT_GREEN
    color=colors.DARK_GREY
    click=this.attrs.saveRoutePlans}}

  {{ui/icon-button
    type='add'
    size=1.5
    flat=true
    backgroundColor=colors.LIGHT_GREEN
    color=colors.DARK_GREY
    click=this.attrs.newRoutePlan}}
</div>
