<span>
  Gross Margin: {{percentage grossMargin}}
</span>

<span>
  Perc of total sales: {{percentage percOfTotalSales}}
</span>

<span>
  Total visits: {{totalVisits}}
</span>

<span>
  Ave. gross per visits: {{currency aveCostPerVisit}}
</span>
