{{one-way-input filterTerm
    placeholder="Filter name"
    class="filterTermInput"
    update=(action (mut filterTerm))}}

<div class="tableHeader row">
  <div class="col-1 no">
    No.
  </div>
  <div class="col-2">
    Name
  </div>
  <div class="col-3">
    Driver
  </div>
  <div class="empty-padding">
  </div>
</div>

{{#each filteredItems as |routePlanBlueprint index|}}
  {{sections/route-plan-blueprints/route-plan-blueprint-table/table-row
    changeset=(changeset routePlanBlueprint validators)
    model=routePlanBlueprint
    index=index
    users=users
    saveRoutePlanBlueprint=saveRoutePlanBlueprint
    deleteRoutePlanBlueprint=(action deleteRoutePlanBlueprint routePlanBlueprint)
  }}
{{/each}}
