<div class="row wrap">
  <div class="col stretch section">
    {{sections/locations/location-settings
        model=model
        fieldChanged=(route-action 'fieldChanged')
        save=(route-action 'saveLocation')
        delete=(route-action 'deleteLocation')}}

    {{sections/locations/address-manager
        model=model.address
        addresses=addresses
        update=(route-action 'updateAddress')
        switchAddress=(route-action 'switchAddress')
        save=(route-action 'saveAddress')}}

    {{sections/locations/schedule-manager
        model=model
        onVisitDayChange=(route-action 'onVisitDayChange')
        onVisitWindowChange=(route-action 'onVisitWindowChange')
        onVisitWindowDayChange=(route-action 'onVisitWindowDayChange')
        createVisitWindow=(route-action 'createVisitWindow')}}
  </div>

  <div class="col stretch section">
    {{sections/locations/item-settings
        itemSettings=itemSettings
        onDesireChange=(route-action 'updateItemDesire')
        onCreditChange=(route-action 'updateItemCreditRate')
        massApplyCreditRate=(route-action 'massApplyCreditRate' model)}}
  </div>
</div>
