<div class="row wrap">
  <div class="col-2">
    {{sections/locations/location-settings
        model=model
        fieldChanged=(route-action 'fieldChanged')
        save=(route-action 'saveLocation')
        delete=(route-action 'deleteLocation')}}

    {{sections/locations/address-creator
        model=model.address
        update=(route-action 'updateAddress')
        save=(route-action 'saveAddress')}}
  </div>
  
  <div class="col-2">
    {{sections/locations/item-settings
        itemSettings=itemSettings
        onDesireChange=(route-action 'updateItemDesire')
        onCreditChange=(route-action 'updateItemCreditRate')}}

    {{sections/locations/schedule-manager
        model=model
        onVisitDayChange=(route-action 'onVisitDayChange')
        onVisitWindowChange=(route-action 'onVisitWindowChange')
        onVisitWindowDayChange=(route-action 'onVisitWindowDayChange')
        createVisitWindow=(route-action 'createVisitWindow')}}
  </div>
</div>
