<div class="col section">
  <div class="row card-1 section">
    {{sections/companies/company-settings
        model=model
        isVendor=true
        save=(route-action "saveCompany")}}
  
    {{sections/companies/location-manager
        locations=model.locations
        showLocation=(route-action "showLocation")
        createNewLocation=(route-action "createNewLocation" model)}}
  </div>
  <div class="section">
    {{outlet}}
  </div>
</div>
