{{#ui/loading-panel isLoading=isLoading}}
  {{ui/title-bar title="Sales trends"}}
  <div class="chart">
    {{ember-chart
        type="Line"
        legend=true
        data=chartData
        width=250
        height=200}}
  </div>
{{/ui/loading-panel}}
