<h4>Notifications</h4>

<div class="row">
  <div class="col-3">First Name</div>
  <div class="col-3">Last Name</div>
  <div class="col-3">Email</div>
  <div class="col-2">Wants Order?</div>

  {{#if model.isCustomer}}
    <div class="col-2">Wants Credit?</div>
  {{/if}}

  <div class="col-2"></div>
</div>
{{#each model.notificationRules as |notification|}}
  {{sections/locations/notification-rule
      isCustomer=model.isCustomer 
      changeset=(changeset notification NotificationValidations)
      saveNotification=(action "saveNotification")
      deleteNotification=(action deleteNotification notification)}}
{{/each}}

<div class="row">
  {{ui/icon-button
      class="createNotification"
      type="add"
      label="New Rule"
      size=1.5
      flat=true
      backgroundColor=colors.DARK_GREY
      padding=0.5
      click=createNotification}}
</div>
