& {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

&:active {
  opacity: 0.5;
}

&.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.label {
  margin-right: 1em;
  font-size: 1.4em;
}

.iconContainer {
  align-items: center;
  justify-content: center;
}

.material-icons {
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}
