{{#if hasLabel}}
  <span class="label">{{label}}</span>
{{/if}}

<div class="iconContainer row">
  {{#if disabled}}
    <i class="material-icons">not_interested</i>
  {{else}}
    <i class="material-icons">{{iconName}}</i>
  {{/if}}
</div>
