{{#if hasLabel}}
  <span class="label">{{fmtLabel}}</span>
{{/if}}

{{#if (and hasLabel hasIcon)}}
  <div class="spacer"></div>
{{/if}}

{{#if hasIcon}}
  <div class="iconContainer row">
    <i class="material-icons">{{iconName}}</i>
  </div>
{{/if}}
