{{#if editing}}
  {{ui/auto-focus-input
      value=value
      update=update
      onfocus=onfocus
      onblur=(action "onBlur")}}
{{else}}
  <span role="button" class="label" {{action "toggleEditing"}}>
    {{label}}
  </span>
{{/if}}