<div class="col stretch section">
  {{section/company/company-settings
      model=model
      fieldChanged=(route-action 'fieldChanged')
      save=(route-action 'saveCompany')
    }}

  <div class="row">
    {{#each model.locations as |location|}}
      {{section/location/summary-card
          name=location.name
          code=location.code
          click=(route-action 'showLocation' location.id)}}
    {{/each}}
    {{ui/icon-button
      icon='add'
      flat=true
      color=colors.DARK_GREY
      padding=0.5
      click=(route-action 'createNewLocation')}}
  </div>

  {{outlet}}
</div>
