<div class="row center spaceBetween uiContainer">
  <span class="title">
    {{title}}
  </span>
  {{ui/icon-button
    class='cancel'
    flat=true
    color=colors.DARK_GREY
    type='close'
    click=close}}
</div>
{{#power-select
    selected=currentItem
    options=model
    placeholder=placeholder
    searchEnabled=true
    renderInPlace=true
    searchField='label'
    onchange=(action 'onItemSelected')
    as |location|}}
  {{location.label}}
{{/power-select}}
