& {
  padding: 1em;
  background: $medium-grey;
  min-width: 15em;
}

.toolbar {
  align-items: flex-start;
}

.company {
  font-size: 1.7em;
  font-weight: bold;
  color: $dark-grey;
}

.locationInfo {
  font-size: 1.2em;
  color: $dark-grey;
  margin-bottom: 2em;
}

.invoiceHeaderContainer {
  align-items: baseline;
  margin-bottom: 1em;
}

.invoiceLabel {
  font-size: 1.7em;
  font-weight: bold;
  color: $dark-grey;
  padding-right: 1em;
  &::after {
    content: ':';
    font-weight: normal;
  }
}

.salesOrderNumber {
  font-size: 1.2em;
  color: $dark-grey;
}
