& {
  padding: 0.5em;
  font-weight: 600;
  margin: 0.25em 0;

  &.notified {
    background: rgba($light-green, 0.6);
  }

  &.awaiting_notification {
    background: rgba($light-green, 0.6);
  }

  &.pending_notification {
    background: rgba($hot-pink, 0.6);
  }

  &.pending_updated_notification {
    background: rgba($hot-pink, 0.6);
  }
}
