& {
  min-width: 15em;
  min-height: 25em;

  max-height: 40em;
  margin: 1em;
}

.content {
  // padding: 1em;
}

.leaflet-container {
  display: flex;
  flex: 1;
  text-transform: capitalize;
}

.addressSearch {
  margin-bottom: 1em;
}

.fullAddress {
  background: $dark-grey;
  color: $off-white;
  padding: 1em;
}
