<div class="col-1">
  No.
</div>

<div class="col-1">
  Position
</div>

<div class="col-1">
  Code
</div>

{{#if (not isProduct)}}
  <div class="col-3">
    Company
  </div>
{{/if}}

<div class="col-3">
  Name
</div>
<div class="col-5">
  Description
</div>
<div class="col-1">
  Price
</div>
<div class="col-1">
  Unit
</div>
<div class="empty-padding">
</div>
