& {
  background: $light-blue;
  padding: 1em;
  margin: 1em;
}

.productName {
  font-size: 1.2em;
  font-weight: 600;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid $dark-grey;
}

.selected {
  background: $dark-orange;
}
