{{pikaday-input
    class="datePicker"
    value=formattedDate
    onSelected=onDateSelected
    format="dddd - MM/DD/YY"}}

<div class="row uiContainer">
  {{#if hasRoutePlanTemplates}}
    {{#power-select
        triggerClass="templateSelect"
        selected=currentSelectedRoutePlanTemplate
        options=routePlanBlueprints
        placeholder="Apply Template"
        searchEnabled=false
        onchange=(action "selectRouteTemplate")
        as |blueprint|}}
      {{blueprint.name}}
    {{/power-select}}
  {{/if}}

  {{ui/icon-button
      type="local_printshop"
      class="print"
      flat=true
      size=1.5
      disabled=(not allPlansValid)
      backgroundColor=colors.LIGHT_GREEN
      color=colors.DARK_GREY
      action=printFulfillmentDocuments}}

  {{ui/icon-button
      class="add"
      type="add"
      disabled=disabled
      size=1.5
      flat=true
      backgroundColor=colors.LIGHT_GREEN
      color=colors.DARK_GREY
      click=(action "handleCreateRoutePlan")}}
</div>
