{{pikaday-input
    class='datePicker'
    value=formattedDate
    onSelected=onDateSelected
    format='dddd - MM/DD/YY'}}

<div class="row uiContainer">
  {{#if hasRoutePlanTemplates}}
    {{ember-selectize
      class='templateSelect'
      content=routePlanTemplates
      value=currentSelectedRoutePlanTemplate
      optionValuePath="content"
      optionLabelPath="content.name"
      select-item=(action 'selectRouteTemplate')
      placeholder="Apply a template" }}
  {{/if}}

  {{ui/icon-button
    class='save'
    type='save'
    size=1.5
    flat=true
    backgroundColor=colors.LIGHT_GREEN
    color=colors.DARK_GREY
    click=this.attrs.saveRoutePlans}}

  {{ui/icon-button
    class='add'
    type='add'
    disabled=disabled
    size=1.5
    flat=true
    backgroundColor=colors.LIGHT_GREEN
    color=colors.DARK_GREY
    click=(action 'handleCreateRoutePlan')}}
</div>
