<label>
  Delivery Date:
  {{pikaday-input value=selectedDeliveryDate format='YYYY-MM-DD'}}
</label>

{{ember-selectize
  content=clients
  optionValuePath="content"
  optionLabelPath="content.code"
  select-item=this.attrs.createSalesOrder
  placeholder="Select a client" }}

<a href="#" {{action (action this.attrs.stubOrders)}}>Stub Orders</a>
<a href="#" {{action (action this.attrs.generateSalesOrders)}}>Generate SalesOrders</a>
