<div class="row stretch">
  {{sections/companies/customer-list
    customers=customers
    priceTiers=priceTiers
    showCustomer=(route-action "showCustomer")
    createNewCustomer=(route-action "createNewCustomer")
  }}

  <div class="col-5">
    {{outlet}}
  </div>
</div>
