<div class='row stretch'>
  {{sections/distribution/route-plan-canvas
      date=date
      routePlans=routePlans
      routePlanBlueprints=routePlanBlueprints
      routeVisits=routeVisits
      saveRoutePlanBlueprint=(route-action 'saveRoutePlanBlueprint')
      destroyRoutePlan=(route-action 'destroyRoutePlan')
      onRouteVisitUpdate=(route-action 'onRouteVisitUpdate')
      removeRouteVisit=(route-action 'removeRouteVisit')
      applyTemplate=(route-action 'applyTemplate')
      createRoutePlan=(route-action 'createRoutePlan')
      updateRoutePlan=(route-action 'updateRoutePlan')
      onDateSelected=(action 'onDateSelected')
      users=users}}

  {{sections/distribution/visit-map
      routeVisits=routeVisits}}
</div>
