<div class="col stretch">
  {{sections/distribution/tool-bar
      date=date
      canCreateRoutePlans=true
      routePlans=activeRoutePlans
      routePlanBlueprints=routePlanBlueprints
      createRoutePlan=(route-action "createRoutePlan")
      onDateSelected=(action "onDateSelected")
      printFulfillmentDocuments=(action "printFulfillmentDocuments")
      applyTemplate=(route-action "applyTemplate")}}

  {{sections/distribution/route-plan-canvas
      date=date
      routePlans=activeRoutePlans
      routeVisits=activeRouteVisits
      selectedRouteVisit=selectedRouteVisit
      saveRoutePlanBlueprint=(route-action "saveRoutePlanBlueprint")
      destroyRoutePlan=(route-action "destroyRoutePlan")
      onRouteVisitUpdate=(route-action "onRouteVisitUpdate")
      removeRouteVisit=(route-action "removeRouteVisit")
      updateRoutePlan=(route-action "updateRoutePlan")
      selectRouteVisit=(action "selectRouteVisit")
      deSelectRouteVisit=(action "deSelectRouteVisit")
      users=drivers}}
</div>

{{sections/distribution/visit-map
    openRouteVisits=openRouteVisits
    routePlans=activeRoutePlans
    selectedRouteVisit=selectedRouteVisit
    selectRouteVisit=(action "selectRouteVisit")}}
