<div class='row stretch'>
  {{sections/distribution/route-plan-canvas
      date=date
      routePlans=routePlans
      routeVisits=routeVisits
      saveTemplate=(route-action 'saveTemplate')
      destroyRoutePlan=(route-action 'destroyRoutePlan')
      routeVisitChanged=(route-action 'routeVisitChanged')
      deleteRouteVisit=(route-action 'deleteRouteVisit')
      applyTemplate=(route-action 'applyTemplate')
      newRoutePlan=(route-action 'newRoutePlan')
      onDateSelected=(route-action 'onDateSelected')
      users=users}}

  <!-- {{sections/distribution/visit-map routeVisits=routeVisits}} -->
</div>
