<div class='row stretch'>
  {{section/distribution/route-plan-canvas
    date=date
    orders=validOrders
    visitWindows=visitWindows
    routePlans=activeRoutePlans
    routeTemplates=routeTemplates
    saveTemplate=(route-action 'saveTemplate')
    saveRoutePlans=(route-action 'saveRoutePlans')
    destroyRoutePlan=(route-action 'destroyRoutePlan')
    applyTemplate=(action 'applyTemplate')
    newRoutePlan=(action 'newRoutePlan')
    onDateSelected=(action 'onDateSelected')
    routePlanChanged=(action 'routePlanChanged')
    users=users}}

  {{section/distribution/visit-map
    orders=validOrders
    visitWindows=visitWindows
    routePlans=activeRoutePlans}}
</div>
