{{ui/icon-button
  class='add'
  type='add'
  flat=true
  color=colors.DARK_GREY
  padding=0.5
  click=(route-action 'createNewItem')}}

<div class='row stretch'>
  <div class="col">
    {{#each model as |item|}}
      {{sections/items/item-editor
          model=item
          fieldChanged=(route-action 'itemFieldChanged')
          saveModel=(route-action 'saveModel')}}

    {{/each}}
  </div>
</div>
