<div class="row stretch">
  {{#layout/scroll-container}}
    {{lists/sales-order-list
      model=requestedSalesOrders
      stubOrders=(action 'stubOrders')
      onDateSelected=(action 'onDateSelected')
      onSalesOrderSelected=(action 'onSalesOrderSelected')
      saveSalesOrderItem=(action 'saveSalesOrderItem')}}
  {{/layout/scroll-container}}

  {{forms/sales-order
      model=currentSalesOrder
      onSalesOrderItemSelected=(action 'onSalesOrderItemSelected')
      onSalesOrderItemDeselected=(action 'onSalesOrderItemDeselected')}}

  {{forms/sales-forecaster
      currentSalesOrder=currentSalesOrder
      currentSalesOrderItem=currentSalesOrderItem}}
</div>
