{{navs/orders-nav
    currentSelectedOrder=currentSelectedOrder
    deliveryDate=deliveryDate
    onDateSelected=(route-action "onDateSelected")
    onRequestNewOrder=(action "onRequestNewOrder")
    onOrderSelected=(route-action "onOrderSelected")
    includeDraft=includeDraft
    includeApproved=includeApproved
    orders=filteredOrders}}

<div class="col stretch">
  {{#if isOldDate}}
    {{#ui/alert-banner type="warning"}}
      You are working with a past date. Please manage these orders through xero
    {{/ui/alert-banner }}
  {{/if}}

  <div class="row">
    {{outlet}}
  </div>
</div>

{{#if showCreateOrderModal}}
  {{#tether-dialog}}
    {{ui/item-selector
        title="Create new purchase order"
        placeholder="Search for location"
        model=unfulfilledLocations
        close=(action "closeCreateOrder")
        onSubmit=(route-action "createOrder")}}
  {{/tether-dialog}}
{{/if}}
