<div class="row stretch">
  {{sections/sales-orders/left-nav
      deliveryDate=deliveryDate
      dateSelected=(route-action 'changeDeliveryDate')
      stubOrders=(route-action 'stubOrders')
      salesOrders=filteredSalesOrders}}
  {{outlet}}
</div>
