{{navs/orders-nav
    currentSelectedOrder=currentSelectedOrder
    deliveryDate=deliveryDate
    onDateSelected=(route-action "onDateSelected")
    stubOrders=(route-action "stubOrders")
    onRequestDuplicateOrders=(action "onRequestDuplicateOrders")
    onRequestNewOrder=(action "onRequestNewOrder")
    onOrderSelected=(route-action "onOrderSelected")
    includeDraft=includeDraft
    includeApproved=includeApproved
    orders=filteredSalesOrders
    items=allItems
    companyQuery=companyQuery
    includedItems=includedItems
    updateIncludedItems=(action "updateIncludedItems")
  }}

<div class="col stretch">
  {{#if isOldDate}}
    {{#ui/alert-banner type="warning"}}
      You are working with a past date. Please manage these orders through xero
    {{/ui/alert-banner }}
  {{/if}}

  <div class="row">
    {{outlet}}
  </div>
</div>

{{#if showCreateSalesOrderModal}}
  {{#tether-dialog close=(action "closeCreateSalesOrder")}}
    {{ui/item-selector
        title="Create new sales order"
        placeholder="Search for location"
        model=unfulfilledLocations
        close=(action "closeCreateSalesOrder")
        onSubmit=(route-action "createSalesOrder")}}
  {{/tether-dialog}}
{{/if}}

{{#if showDuplicateOrdersModal}}
  {{#tether-dialog close=(action "closeDuplicateOrders")}}
    {{modals/duplicate-orders
        fromDate=deliveryDate
        close=(action "closeDuplicateOrders")
        submit=(route-action "duplicateOrders")}}
  {{/tether-dialog}}
{{/if}}
