& {
  margin: 0.5em;
  min-width: 18em;
  background: $dark-orange;
  color: $dark-grey;
}

header {
  background: rgba(#fff, 0.5);
  padding: 0.5em;
}

.itemName {
  font-size: 1em;
  font-weight: bold;
}

.locationName {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.productionInfoContainer {
  margin-top: 0.5em;
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.mainContentContainer {
  padding: 1em;
  font-size: 1.2em;
}

.value {
  font-weight: bold;
}

.copy {
  font-style: italic;
}

.noDataMessage {
  font-size: 0.9em;
  font-weight: bold;
}

.footer {
  padding: 0.4em;
  background: rgba(white, 0.2);
  align-items: flex-end;
  justify-content: space-between;

  .updatedAt {
    font-size: 0.8em;
    font-style: italic;
  }
}
